.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  border : 1px solid black;
  padding : 16px;
  background-color: green;
  font : comic;
  cursor:pointer;
}

.Cockpit button:hover{
  background-color : blue;
}

.Cockpit button.Red{
  background-color: red;
}

.Cockpit button.Red:hover{
  background-color: lightgrey;
}

.Cockpit button.Disabled{
  background: #999;
  color: #555;
  cursor: not-allowed;
}
